body {
    background-color: #1a1a1a;
    color: white;
}

.texto_centrado {
    text-align: center;
}




hr {
    border-color: #8B0000;
}


button {
    background-color: #8B0000;
    padding: 2% 5%;
    border: none;
}

.boton_home {
    background-color: #8B0000;
    padding: 1% 2%;
    border: none;
}

button a {
    color:white ;
    text-decoration: none;
}

.boton_home {
    background-color: black;
    padding: 1% 2%;
    border: none;
}

.imagen_centrada {
    display: block;
    margin: 0 auto;
}


.album {
    width: 40%;
    float: left;
    text-align: center;
    margin: 2% 5%;
}

.c1 {
    background-color: #8B0000; 
    margin: 2% auto;
    padding: 1%;
    border: 5px solid #8B0000;
    border-radius: 3px;
    display: block;
}